{
  "extends": "airbnb",
  "globals": {
    "document": false,
    "window": false
  },
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": [0],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/prop-types": [0],
    "react/no-array-index-key": [0],
    "jsx-a11y/label-has-for": [0]
  }
}
