*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.u-sticky {
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
